@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {

    /* Fonts */

    --font-title: 'Calistoga', cursive;
    --font-text: 'Raleway', sans-serif;

    /* Colors */

    --dark-blue: #2E7BA2;
    --mustard: #DF9010;
    --ligth-blue: #C8DEEF;
    --ligth-yellow: #FBF0DD;
    --yellow: #FACF9D;
    --gradient: linear-gradient(180deg, #BFDAE6 0%, #FCF0DD 50%, #FACF9D 100%);

    
}